<table>
  <caption>コメント一覧</caption>
  <thead>
    <tr>
      <th>ユーザー情報</th>
      <th>コメント</th>
      <th>投稿日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <% if comment.user.name.empty? %>
          <td><%= comment.user.email %></td> 
        <% else %>
          <td><%= comment.user.name %></td>
        <% end %>
        <td><%= comment.content %></td>
        <td><%= comment.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
